* {
    /* Remove any default spacings for finer-grain control. */
    margin: 0;
    padding: 0;
}

body {
    font-family: "Monaco";
    line-height: 1.5;
}

.main {
    background-color: #EAEAEA;
    height: 100vh;
    padding: 8px;
}

.editor{
    display:flex;
    flex-direction: column;
}

.editorLines {
    display: flex;
    flex-direction: column;

}

.textLine {
    display: flex;
    flex-direction: row;
}

.textLineContents {
    flex: 1;
}


.buttonContainer {
    display: flex;
    flex-direction: row;
    gap: 8px;
}