/* For Code Text*/
.codetext
{
  white-space: pre; /*To show whitespace in the codeline*/
  font-family: monospace; /*For cursor alignment*/
  position: relative;
}

.codetext.has-cursor::after {
  content: '';
  position: absolute;
  width: 2px;
  height: 1rem;
  background-color: black;
  left: calc(var(--cursor-col));
  animation: blink 1s step-start infinite;
}

@keyframes blink {
  0%, 25% {
    opacity: 1;
  }
  50%, 75% {
    opacity: 0;
  }
}

/*For Line Number*/
.line-number
{
  font-family: monospace;
}