@font-face {
   font-family: 'MLModern12-Regular';
   src: url('/fonts/mlmr12.woff2') format('woff2'),
   font-weight: normal;
   font-style: normal;
}

body {
    font-family: 'MLModern12-Regular';
    font-size: 24pt;
    background-color: #fffff0;
}

div.textentry {
    position: relative;
    top: 0;
    right: 0; 
    bottom: 0;
    left: 0;
    user-select: none;
    margin-left: 20pt;
    white-space: pre;
    counter-reset: codelines;
}

div.textentry:focus {
    outline: none;
    box-shadow: none;
}

.malformed-line {
    color: gray;
}
.inactive-line { 
    color: gray;
    text-decoration: underline;
    text-decoration-style: wavy;
    text-decoration-color: gray;
}
.empty-line {
    color: gray;
}
.good-line { color: black; }

.malformed-line::before {
    counter-increment: codelines;
    font-size: 20pt;
    color: darkred;
    display: inline-block;
    width: 2em;
    text-align: right;

    content: "\1d11e    ";
}

.inactive-line::before {
    counter-increment: codelines;
    font-size: 20pt;
    color: gray;
    display: inline-block;
    width: 2em;
    text-align: right;

    content: "   ";
}

.empty-line::before {
    counter-increment: codelines;
    font-size: 20pt;
    color: gray;
    display: inline-block;
    width: 2em;
    text-align: right;

    content: "   ";
}

.good-line::before {
    counter-increment: codelines;
    font-size: 20pt;
    color: gray;
    display: inline-block;
    width: 2em;
    text-align: right;

    content: counter(codelines) "   ";
}

span.malformed-line span.commentary::before {
    font-size: 12pt;
    color: darkred;
    float: right;
    text-align: right;

    content: attr(data-commentary);
}
