@font-face {
   font-family: 'MLMRoman12-Regular';
   src: url('/fonts/mlmr12.woff2') format('woff2');
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: 'MLMSansDemiCond10-Regular';
   src: url('/fonts/mlmssdc10.woff2') format('woff2');
   font-weight: normal;
   font-style: normal;
}

body {
    font-family: 'MLMRoman12-Regular';
    font-size: 24pt;
    background-color: #fffff0;
}

div.textentry {
    position: relative;
    top: 0;
    right: 0; 
    bottom: 0;
    left: 0;
    user-select: none;
    margin-left: 20pt;
    white-space: pre;
    counter-reset: codelines;
    display: grid;
    grid-auto-rows: var(--codillon-line-spacing);
}

div.textentry:focus {
    outline: none;
    box-shadow: none;
}

.line {
    color: gray;
}

.meta-line {
    color: indigo;
}

.instr-line {
    color: black;
    counter-increment: codelines;
}

.line::before {
    font-size: 20pt;
    color: darkred;
    display: inline-block;
    width: 50px;
    text-align: right;
    content: " ";
}

.malformed-line::before {
    content: "\1d11e        ";
}

.numbered-line::before {
    color: gray;
    content: counter(codelines) "        ";
}

.line:has(span.instr[data-synthetic-before])::before {
    color: darkred;
    content: "\1d160        ";
}

.animated .instr {
    transition: 0.2s;
}

span.comment {
    color: darkblue;
    font-family: 'MLMSansDemiCond10-Regular';
    font-size: 18pt;
    margin-left: 1px;
}

span.instr[data-synthetic-before]::before {
    border: 1px dashed darkred;
    color: darkred;
    position: absolute;
    left: 30px;
    padding: 3px;
    font-family: 'MLMSansDemiCond10-Regular';
    font-size: 12pt;
    transform: translateY(10px);
    content: attr(data-synthetic-before);
}

span.comment[data-commentary]::after {
    font-family: 'MLMRoman10-Regular';
    font-size: 12pt;
    color: darkred;
    float: right;
    border: 1px solid darkred;
    padding: 4px;
    margin-top: 10px;

    content: attr(data-commentary);
}

span.comment[data-debug]::after {
    content: attr(data-debug);
    margin-left: 10pt;
    font-size: 15pt;
}

.shake-a {
    animation: shake-a 0.25s;
}

.shake-b {
    animation: shake-b 0.25s;
}

@keyframes shake-a {
 0% { transform: translateX(0) }
 25% { transform: translateX(5px) }
 50% { transform: translateX(-5px) }
 75% { transform: translateX(5px) }
 100% { transform: translateX(0) }
}

@keyframes shake-b {
 0% { transform: translateX(0) }
 25% { transform: translateX(5px) }
 50% { transform: translateX(-5px) }
 75% { transform: translateX(5px) }
 100% { transform: translateX(0) }
}

.reveal-a {
    animation: reveal-a 0.25s;
}

.reveal-b {
    animation: reveal-b 0.25s;
}

@keyframes reveal-a {
    0% { transform: scaleY(0%) }
    100% { transform: scaleY(100%) }
}

@keyframes reveal-b {
    0% { transform: scaleY(0%) }
    100% { transform: scaleY(100%) }
}

.flyend-a .instr::before {
    display: inline-block;
    content: "end";
    animation: flyend-a 0.25s;
    transform: translateY(20px) scaleY(0%);
    width: 0px;
}

.flyend-b .instr::before {
    display: inline-block;
    content: "end";
    animation: flyend-b 0.25s;
    transform: translateY(20px) scaleY(0%);
    width: 0px;
}

@keyframes flyend-a {
    0% { transform: translateY(var(--codillon-line-spacing)) scaleY(100%) }
    100% { transform: translateY(calc(0.5 * var(--codillon-line-spacing))) scaleY(0%) }
}

@keyframes flyend-b {
    0% { transform: translateY(var(--codillon-line-spacing)) scaleY(100%) }
    100% { transform: translateY(calc(0.5 * var(--codillon-line-spacing))) scaleY(0%) }
}

.annotations {
    position: absolute;
}

.animated .annotation {
    transition: all 0.25s;
}

.annotation {
    transform-origin: top;
    transform-box: fill-box;
    transform: scaleY(0) translateX(0) translateY(0);
}

.step-slider {
    appearance: none;
    background: transparent;
    outline: none;
    width: 100%;
}

.step-slider::-webkit-slider-runnable-track {
    height: 10px;
    border-radius: 10px;
    background: linen;
    border: 1px solid burlywood;
}

.step-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: darkred;
    border: 2px solid white;
    cursor: pointer;
    margin-top: -6px;
}

.step-slider::-moz-slider-thumb {
    -moz-appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: darkred;
    border: 2px solid white;
    cursor: pointer;
    margin-top: -6px;
}

.step-slider::-moz-slider-runnable-track {
    height: 10px;
    border-radius: 10px;
    background: linen;
    border: 1px solid burlywood;
}

[highlight] {
    text-decoration: underline;
}